<mat-accordion>
    <mat-expansion-panel *ngFor = "let post of Posts$ ">
        <mat-expansion-panel-header>
            <mat-panel-title>
                 <h4> {{post.id}}. {{post.title}}</h4> 
            </mat-panel-title>
            <mat-panel-description>   
            </mat-panel-description>
        </mat-expansion-panel-header>
        <div>
            <button mat-raised-button color="primary" (click)="add(post.title, post.body ,post.id)"> Save </button>
        </div>
        <h4 *ngIf = "post.id == postid">{{text}}</h4> <br>   
          {{post.body}} <h4> Text</h4> {{post.body}} 
            <h4>Comments</h4>
                <div *ngFor="let comment of comments$ ">
                    <div *ngIf = "comment.postId == post.id; other"><br><!--for space between the lines-->
                        {{comment.body}}</div>
                </div>    
    </mat-expansion-panel>
</mat-accordion>
