<mat-accordion>
    <mat-expansion-panel *ngFor = "let post of posts$ | async">
        <mat-expansion-panel-header>
            <mat-panel-title >
            <h4>{{post.title}}</h4>
            </mat-panel-title>
            <mat-panel-description >   
                    
            </mat-panel-description>
        </mat-expansion-panel-header>
        <button mat-raised-button color="primary" type="submit" (click)="addlike(post.id,post.like)">LIKE</button> 
        <button mat-raised-button color="primary" type="submit" (click)="delete(post.id)">DELETE</button> 
            {{post.like}} likes 
        <h3> Text </h3>{{post.body}} 
    </mat-expansion-panel>
</mat-accordion>