<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
      <mat-toolbar *ngIf = "(authService.user | async)?.uid" >Menu</mat-toolbar>
      <mat-nav-list *ngIf = "(authService.user | async)?.uid" >
      <a mat-list-item routerLink="/blog-posts" routerLinkActive="active">Blog Posts</a>
      <a mat-list-item routerLink="/save-posts" routerLinkActive="active">Saved Posts</a>
      <!--  <a mat-list-item [routerLink]="['/temp',10,'London']">Temperature</a>
--> 
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>Test2020</span>
      <span class = "spacer"></span>
      <a class = "whitelink" 
        *ngIf = "!(authService.user | async)?.uid" 
        routerLink="/signup" routerLinkActive="active"
        >Register</a>
      <a class = "whitelink" 
        *ngIf = "!(authService.user | async)?.uid" 
        routerLink="/login" routerLinkActive="active"
        >Login</a>
      <a class = "whitelink" 
        *ngIf = "(authService.user | async)?.uid" 
        (click) = "authService.logout()">Logout</a> 
       
    </mat-toolbar>
    <!-- Add Content Here -->
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
